/* DOCUMENT INFORMATION
	- Document: Current Updates Module Style Sheet
	- Author:   Kowtha Saketh   
*/
.current-updates-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.current-updates-container > div{
    width: calc(50% - 30px);
    background-color: white;
    border: 1px solid #d6d6d6;
}
.current-updates-container > div:first-child {
    display: flex;
    flex-direction: column;
}

.current-updates , .current-chart > div{
    padding: 20px;
}
.current-chart > div:first-child{
    border-bottom: 2px solid #d6d6d6;
}

.current-updates{
    position: relative;
}
#current-chart{
    height: 200px;
}

.current-updates-container .graph-element h5{
    color: grey;
    line-height: 2px;

}

.current-updates-container .graph-element h2{
    line-height: 2px;
    color: #121241;
}

.heading{
    color: #121241;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

.node > div > label::before{
    font-family: "Material Icons";
    content: "\e192";
    font-size: 14px;
    margin-top: 2px !important;
}

.node > div > label {
    color: grey;
    font-size: 12px;
}

.node {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transition: all 1000ms ease;
    border: 2px solid #464de4;
    background-color: #d5dcec;
}

.node > div {
    position: absolute;  
    left: 45px;
    margin-top: -20px;
}

.node > div > div,  .node > div > label{
    margin-bottom: 20px;
}

.vdivider {
    height: 80px;
    width: 2px;
    margin-left: 6px;
    transition: all 800ms ease;
    background-color: #d5dcec;
}

.progress-bar{
    padding: 0px;
}

.progress-bar  li {
    list-style: none;
    line-height: 1px;
}

.node p.heading:nth-child(2){
    font-size: 12px;
}
