/* DOCUMENT INFORMATION
	- Document: Header Mobile Layout Stylesheet
	- Author:   Kowtha Saketh   
*/

@media only screen and (max-width: 760px) {
  
    #header{
        height: 35px;
        padding: 5px;
        position: sticky;
        top: 0px;
        left: 0px;
        z-index: 99999;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: white;
    }

    #header > div > div > div{
        margin-left: 10px;
        margin-right: 0px;
    }

    #header > .row{
      padding: 5px;
      height: 30px;
    }  

    .dropdown{
        display: inline;
    }

    .userActions > .navIcon{
        display: none;
    }

    .userSelections  .badge{
        margin-left: -15px;
    }

    .navIcon{
        padding: 5px;
    }

    .navMenu{
        display: none;
    }

    .searchContainer{display: none;}   
}




@media only screen and (min-width: 760px) and (max-width: 1024px){
    .navMenu{
        display: none;
      }
      .dropdown{
          display: inline;
      }

      #header{
        height: 35px;
        padding: 5px;
        position: sticky;
        top: 0px;
        left: 0px;
        z-index: 99999;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: white;
    }

    .navMenu button {
      border: none; 
      position: relative;
      background-color: #F9FAFC;
      color: #121241;
      padding: 12px 35px; 
      cursor: pointer; 
      font-weight: 550;
      float: left;   
      text-transform: uppercase;
  }
   .searchContainer{display: none;}
    #header{
        padding: 10px 20px;
    }
}

@media only screen and (device-width: 1024px){
    .navMenu{
        display: block;
      }
      .dropdown{
          display: none;
      }

      #header{
        height: 85px;
        padding: 5px;
        position: static;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: white;
    }
}